<a href="https://colab.research.google.com/github/gunjan7858903606/gunjan/blob/main/Untitled85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
import numpy as np
import pandas as pd

In [38]:
df_nba = pd.read_csv("/content/nba.csv")

In [39]:
df_nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,06-02,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,06-06,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,06-05,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,06-05,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,06-10,231,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,20,06-10,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26,06-03,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24,06-01,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21,C,26,07-03,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24,C,26,7-0,231,Kansas,947276.0

In [40]:
type(df_nba)

pandas.core.frame.DataFrame

In [41]:
df_nba.size

4113

In [42]:
df_nba.shape

(457, 9)

In [43]:
df_nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457 entries, 0 to 456
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    int64
 3   Position  457 non-null    object
 4   Age       457 non-null    int64
 5   Height    457 non-null    object
 6   Weight    457 non-null    int64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(1), int64(3), object(5)
memory usage: 32.3+ KB

In [44]:
df_nba.isnull().sum()

Name         0
Team         0
Number       0
Position     0
Age          0
Height       0
Weight       0
College     84
Salary      11
dtype: int64

In [45]:
df_nba.describe()

           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.229238e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.044792e+06
50%     13.000000   26.000000  220.000000  2.839073e+06
75%     25.000000   30.000000  240.000000  6.500000e+06
max     99.000000   40.000000  307.000000  2.500000e+07

# **sort values**

In [46]:
df_nba.sort_values(by = ["Name"], ascending = True)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
152,Aaron Brooks,Chicago Bulls,0,PG,31,6-0,161,Oregon,2250000.0
356,Aaron Gordon,Orlando Magic,0,PF,20,06-09,220,Arizona,4171680.0
328,Aaron Harrison,Charlotte Hornets,9,SG,21,06-06,210,Kentucky,525093.0
404,Adreian Payne,Minnesota Timberwolves,33,PF,25,06-10,237,Michigan State,1938840.0
312,Al Horford,Atlanta Hawks,15,C,30,06-10,245,Florida,12000000.0
...,...,...,...,...,...,...,...,...,...
386,Wilson Chandler,Denver Nuggets,21,SF,29,06-08,225,DePaul,10449438.0
270,Xavier Munford,Memphis Grizzlies,14,PG,24,06-03,180,Rhode Island,NaN
402,Zach LaVine,Minnesota Timberwolves,8,PG,21,06-05,189,UCLA,2148360.0
271,Zach Randolph,Memphis Grizzlies,50,PF,34,06-09,260,Michigan State,9638555.0
237,Zaza Pachulia,Dallas Mavericks,27,C,32,06-11,275,NaN,5200000.0

In [47]:
df_nba.sort_values(by = ["Team"], ascending = True)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
317,Lamar Patterson,Atlanta Hawks,13,SG,24,06-05,225,Pittsburgh,525093.0
309,Kent Bazemore,Atlanta Hawks,24,SF,26,06-05,201,Old Dominion,2000000.0
310,Tim Hardaway Jr.,Atlanta Hawks,10,SG,24,06-06,205,Michigan,1304520.0
311,Kirk Hinrich,Atlanta Hawks,12,SG,35,06-04,190,Kansas,2854940.0
312,Al Horford,Atlanta Hawks,15,C,30,06-10,245,Florida,12000000.0
...,...,...,...,...,...,...,...,...,...
371,Jarell Eddie,Washington Wizards,8,SG,24,06-07,218,Virginia Tech,561716.0
369,Bradley Beal,Washington Wizards,3,SG,22,06-05,207,Florida,5694674.0
368,Alan Anderson,Washington Wizards,6,SG,33,06-06,220,Michigan State,4000000.0
382,John Wall,Washington Wizards,2,PG,25,06-04,195,Kentucky,15851950.0
370,Jared Dudley,Washington Wizards,1,SF,30,06-07,225,Boston College,4375000.0

In [48]:
df_nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,06-02,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,06-06,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,06-05,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,06-05,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,06-10,231,NaN,5000000.0

In [49]:
df_nba.sort_values(by = ["Team","Salary"] ,ascending = True)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
317,Lamar Patterson,Atlanta Hawks,13,SG,24,06-05,225,Pittsburgh,525093.0
316,Mike Muscala,Atlanta Hawks,31,PF,24,06-11,240,Bucknell,947276.0
313,Kris Humphries,Atlanta Hawks,43,PF,31,06-09,235,Minnesota,1000000.0
322,Walter Tavares,Atlanta Hawks,22,C,24,07-03,260,NaN,1000000.0
310,Tim Hardaway Jr.,Atlanta Hawks,10,SG,24,06-06,205,Michigan,1304520.0
...,...,...,...,...,...,...,...,...,...
369,Bradley Beal,Washington Wizards,3,SG,22,06-05,207,Florida,5694674.0
376,Markieff Morris,Washington Wizards,5,PF,26,06-10,245,Kansas,8000000.0
373,Marcin Gortat,Washington Wizards,13,C,32,06-11,240,NaN,11217391.0
375,Nene Hilario,Washington Wizards,42,C,33,06-11,250,NaN,13000000.0
382,John Wall,Washington Wizards,2,PG,25,06-04,195,Kentucky,15851950.0

In [50]:
df_nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,06-02,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,06-06,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,06-05,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,06-05,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,06-10,231,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,20,06-10,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26,06-03,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24,06-01,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21,C,26,07-03,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24,C,26,7-0,231,Kansas,947276.0

# **value_counts()**

In [51]:
df_nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,06-02,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,06-06,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,06-05,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,06-05,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,06-10,231,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,20,06-10,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26,06-03,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24,06-01,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21,C,26,07-03,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24,C,26,7-0,231,Kansas,947276.0

In [52]:
df_nba.Team.value_counts()

Team
New Orleans Pelicans      19
Memphis Grizzlies         18
New York Knicks           16
Milwaukee Bucks           16
Boston Celtics            15
Brooklyn Nets             15
Portland Trail Blazers    15
Oklahoma City Thunder     15
Denver Nuggets            15
Washington Wizards        15
Miami Heat                15
Charlotte Hornets         15
Atlanta Hawks             15
San Antonio Spurs         15
Houston Rockets           15
Dallas Mavericks          15
Indiana Pacers            15
Detroit Pistons           15
Cleveland Cavaliers       15
Chicago Bulls             15
Sacramento Kings          15
Phoenix Suns              15
Los Angeles Lakers        15
Los Angeles Clippers      15
Golden State Warriors     15
Toronto Raptors           15
Philadelphia 76ers        15
Utah Jazz                 15
Orlando Magic             14
Minnesota Timberwolves    14
Name: count, dtype: int64

In [53]:
df_nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,06-02,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,06-06,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,06-05,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,06-05,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,06-10,231,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,20,06-10,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26,06-03,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24,06-01,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21,C,26,07-03,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24,C,26,7-0,231,Kansas,947276.0

In [54]:
df_nba.Position.value_counts()

Position
SG    102
PF    100
PG     92
SF     85
C      78
Name: count, dtype: int64

In [55]:
df_nba[["College","Team"]].value_counts()

College         Team
Kentucky        Phoenix Suns              4
North Carolina  Memphis Grizzlies         3
Duke            Miami Heat                3
UCLA            Memphis Grizzlies         3
Kentucky        Sacramento Kings          3
                                         ..
Kansas          Philadelphia 76ers        1
                Oklahoma City Thunder     1
                Minnesota Timberwolves    1
                Los Angeles Lakers        1
Xavier          San Antonio Spurs         1
Name: count, Length: 336, dtype: int64

In [56]:
df_nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,06-02,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,06-06,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,06-05,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,06-05,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,06-10,231,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,20,06-10,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26,06-03,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24,06-01,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21,C,26,07-03,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24,C,26,7-0,231,Kansas,947276.0

In [57]:
df_nba[["Name","Salary"]].value_counts()

Name                 Salary
Aaron Brooks         2250000.0     1
Matthew Dellavedova  1147276.0     1
Mike Scott           3333333.0     1
Mike Muscala         947276.0      1
Mike Miller          947276.0      1
                                  ..
Greivis Vasquez      6600000.0     1
Greg Monroe          16407500.0    1
Gorgui Dieng         1474440.0     1
Gordon Hayward       15409570.0    1
Zaza Pachulia        5200000.0     1
Name: count, Length: 446, dtype: int64

In [58]:
df_nba[["Age","Height","Weight"]].value_counts()

Age  Height  Weight
27   06-03   200       4
29   06-08   230       3
30   06-05   210       3
23   06-06   205       3
24   06-03   190       3
                      ..
25   06-04   194       1
     06-03   195       1
             175       1
     06-02   185       1
40   06-11   250       1
Name: count, Length: 418, dtype: int64

In [59]:
df_nba.Name.unique()

array(['Avery Bradley', 'Jae Crowder', 'John Holland', 'R.J. Hunter',
       'Jonas Jerebko', 'Amir Johnson', 'Jordan Mickey', 'Kelly Olynyk',
       'Terry Rozier', 'Marcus Smart', 'Jared Sullinger', 'Isaiah Thomas',
       'Evan Turner', 'James Young', 'Tyler Zeller', 'Bojan Bogdanovic',
       'Markel Brown', 'Wayne Ellington', 'Rondae Hollis-Jefferson',
       'Jarrett Jack', 'Sergey Karasev', 'Sean Kilpatrick',
       'Shane Larkin', 'Brook Lopez', 'Chris McCullough', 'Willie Reed',
       'Thomas Robinson', 'Henry Sims', 'Donald Sloan', 'Thaddeus Young',
       'Arron Afflalo', 'Lou Amundson', 'Thanasis Antetokounmpo',
       'Carmelo Anthony', 'Jose Calderon', 'Cleanthony Early',
       'Langston Galloway', 'Jerian Grant', 'Robin Lopez', "Kyle O'Quinn",
       'Kristaps Porzingis', 'Kevin Seraphin', 'Lance Thomas',
       'Sasha Vujacic', 'Derrick Williams', 'Tony Wroten', 'Elton Brand',
       'Isaiah Canaan', 'Robert Covington', 'Joel Embiid', 'Jerami Grant',
       'Richaun Holmes', 'Carl Landry', 'Kendall Marshall',
       'T.J. McConnell', 'Nerlens Noel', 'Jahlil Okafor', 'Ish Smith',
       'Nik Stauskas', 'Hollis Thompson', 'Christian Wood',
       'Bismack Biyombo', 'Bruno Caboclo', 'DeMarre Carroll',
       'DeMar DeRozan', 'James Johnson', 'Cory Joseph', 'Kyle Lowry',
       'Lucas Nogueira', 'Patrick Patterson', 'Norman Powell',
       'Terrence Ross', 'Luis Scola', 'Jason Thompson',
       'Jonas Valanciunas', 'Delon Wright', 'Leandro Barbosa',
       'Harrison Barnes', 'Andrew Bogut', 'Ian Clark', 'Stephen Curry',
       'Festus Ezeli', 'Draymond Green', 'Andre Iguodala',
       'Shaun Livingston', 'Kevon Looney', 'James Michael McAdoo',
       'Brandon Rush', 'Marreese Speights', 'Klay Thompson',
       'Anderson Varejao', 'Cole Aldrich', 'Jeff Ayres', 'Jamal Crawford',
       'Branden Dawson', 'Jeff Green', 'Blake Griffin', 'Wesley Johnson',
       'DeAndre Jordan', 'Luc Richard Mbah a Moute', 'Chris Paul',
       'Paul Pierce', 'Pablo Prigioni', 'JJ Redick', 'Austin Rivers',
       'C.J. Wilcox', 'Brandon Bass', 'Tarik Black', 'Anthony Brown',
       'Kobe Bryant', 'Jordan Clarkson', 'Roy Hibbert', 'Marcelo Huertas',
       'Ryan Kelly', 'Larry Nance Jr.', 'Julius Randle',
       "D'Angelo Russell", 'Robert Sacre', 'Louis Williams',
       'Metta World Peace', 'Nick Young', 'Eric Bledsoe', 'Devin Booker',
       'Chase Budinger', 'Tyson Chandler', 'Archie Goodwin',
       'John Jenkins', 'Brandon Knight', 'Alex Len', 'Jon Leuer',
       'Phil Pressey', 'Ronnie Price', 'Mirza Teletovic', 'P.J. Tucker',
       'T.J. Warren', 'Alan Williams', 'Quincy Acy', 'James Anderson',
       'Marco Belinelli', 'Caron Butler', 'Omri Casspi',
       'Willie Cauley-Stein', 'Darren Collison', 'DeMarcus Cousins',
       'Seth Curry', 'Duje Dukan', 'Rudy Gay', 'Kosta Koufos',
       'Ben McLemore', 'Eric Moreland', 'Rajon Rondo', 'Cameron Bairstow',
       'Aaron Brooks', 'Jimmy Butler', 'Mike Dunleavy',
       'Cristiano Felicio', 'Pau Gasol', 'Taj Gibson', 'Justin Holiday',
       'Doug McDermott', 'Nikola Mirotic', "E'Twaun Moore", 'Joakim Noah',
       'Bobby Portis', 'Derrick Rose', 'Tony Snell',
       'Matthew Dellavedova', 'Channing Frye', 'Kyrie Irving',
       'LeBron James', 'Richard Jefferson', 'Dahntay Jones',
       'James Jones', 'Sasha Kaun', 'Kevin Love', 'Jordan McRae',
       'Timofey Mozgov', 'Iman Shumpert', 'J.R. Smith',
       'Tristan Thompson', 'Mo Williams', 'Joel Anthony', 'Aron Baynes',
       'Steve Blake', 'Lorenzo Brown', 'Reggie Bullock',
       'Kentavious Caldwell-Pope', 'Spencer Dinwiddie', 'Andre Drummond',
       'Tobias Harris', 'Darrun Hilliard', 'Reggie Jackson',
       'Stanley Johnson', 'Jodie Meeks', 'Marcus Morris',
       'Anthony Tolliver', 'Lavoy Allen', 'Rakeem Christmas',
       'Monta Ellis', 'Paul George', 'George Hill', 'Jordan Hill',
       'Solomon Hill', 'Ty Lawson', 'Ian Mahinmi', 'C.J. Miles',
       'Glenn Robinson III', 'Rodney Stuckey', 'Myles Turner',
       'Shayne Whittington', 'Joe Young', 'Giannis Antetokounmpo',
       'Jerryd Bayless', 'Michael Carter-Williams', 'Jared Cunningham',
       'Tyler Ennis', 'John Henson', 'Damien Inglis', 'O.J. Mayo',
       'Khris Middleton', 'Greg Monroe', 'Steve Novak',
       "Johnny O'Bryant III", 'Jabari Parker', 'Miles Plumlee',
       'Greivis Vasquez', 'Rashad Vaughn', 'Justin Anderson',
       'J.J. Barea', 'Jeremy Evans', 'Raymond Felton', 'Devin Harris',
       'David Lee', 'Wesley Matthews', 'JaVale McGee', 'Salah Mejri',
       'Dirk Nowitzki', 'Zaza Pachulia', 'Chandler Parsons',
       'Dwight Powell', 'Charlie Villanueva', 'Deron Williams',
       'Trevor Ariza', 'Michael Beasley', 'Patrick Beverley',
       'Corey Brewer', 'Clint Capela', 'Sam Dekker', 'Andrew Goudelock',
       'James Harden', 'Montrezl Harrell', 'Dwight Howard',
       'Terrence Jones', 'K.J. McDaniels', 'Donatas Motiejunas',
       'Josh Smith', 'Jason Terry', 'Jordan Adams', 'Tony Allen',
       'Chris Andersen', 'Matt Barnes', 'Vince Carter', 'Mike Conley',
       'Bryce Cotton', 'Jordan Farmar', 'Marc Gasol', 'JaMychal Green',
       'P.J. Hairston', 'Jarell Martin', 'Ray McCallum', 'Xavier Munford',
       'Zach Randolph', 'Lance Stephenson', 'Alex Stepheson',
       'Brandan Wright', 'Alexis Ajinca', 'Ryan Anderson', 'Omer Asik',
       'Luke Babbitt', 'Norris Cole', 'Dante Cunningham', 'Anthony Davis',
       'Bryce Dejean-Jones', 'Toney Douglas', 'James Ennis',
       'Tyreke Evans', 'Tim Frazier', 'Alonzo Gee', 'Eric Gordon',
       'Jordan Hamilton', 'Jrue Holiday', 'Orlando Johnson',
       'Kendrick Perkins', 'Quincy Pondexter', 'LaMarcus Aldridge',
       'Kyle Anderson', 'Matt Bonner', 'Boris Diaw', 'Tim Duncan',
       'Manu Ginobili', 'Danny Green', 'Kawhi Leonard',
       'Boban Marjanovic', 'Kevin Martin', 'Andre Miller', 'Patty Mills',
       'Tony Parker', 'Jonathon Simmons', 'David West', 'Kent Bazemore',
       'Tim Hardaway Jr.', 'Kirk Hinrich', 'Al Horford', 'Kris Humphries',
       'Kyle Korver', 'Paul Millsap', 'Mike Muscala', 'Lamar Patterson',
       'Dennis Schroder', 'Mike Scott', 'Thabo Sefolosha',
       'Tiago Splitter', 'Walter Tavares', 'Jeff Teague', 'Nicolas Batum',
       'Troy Daniels', 'Jorge Gutierrez', 'Tyler Hansbrough',
       'Aaron Harrison', 'Spencer Hawes', 'Al Jefferson',
       'Frank Kaminsky III', 'Michael Kidd-Gilchrist', 'Jeremy Lamb',
       'Courtney Lee', 'Jeremy Lin', 'Kemba Walker', 'Marvin Williams',
       'Cody Zeller', 'Chris Bosh', 'Luol Deng', 'Goran Dragic',
       'Gerald Green', 'Udonis Haslem', 'Joe Johnson', 'Tyler Johnson',
       'Josh McRoberts', 'Josh Richardson', "Amar'e Stoudemire",
       'Dwyane Wade', 'Briante Weber', 'Hassan Whiteside',
       'Justise Winslow', 'Dorell Wright', 'Dewayne Dedmon',
       'Evan Fournier', 'Aaron Gordon', 'Mario Hezonja', 'Ersan Ilyasova',
       'Brandon Jennings', 'Devyn Marble', 'Shabazz Napier',
       'Andrew Nicholson', 'Victor Oladipo', 'Elfrid Payton',
       'Jason Smith', 'Nikola Vucevic', 'C.J. Watson', 'Alan Anderson',
       'Bradley Beal', 'Jared Dudley', 'Jarell Eddie', 'Drew Gooden',
       'Marcin Gortat', 'JJ Hickson', 'Nene Hilario', 'Markieff Morris',
       'Kelly Oubre Jr.', 'Otto Porter Jr.', 'Ramon Sessions',
       'Garrett Temple', 'Marcus Thornton', 'John Wall', 'Darrell Arthur',
       'D.J. Augustin', 'Will Barton', 'Wilson Chandler',
       'Kenneth Faried', 'Danilo Gallinari', 'Gary Harris',
       'Nikola Jokic', 'Joffrey Lauvergne', 'Mike Miller',
       'Emmanuel Mudiay', 'Jameer Nelson', 'Jusuf Nurkic',
       'JaKarr Sampson', 'Axel Toupane', 'Nemanja Bjelica',
       'Gorgui Dieng', 'Kevin Garnett', 'Tyus Jones', 'Zach LaVine',
       'Shabazz Muhammad', 'Adreian Payne', 'Nikola Pekovic',
       'Tayshaun Prince', 'Ricky Rubio', 'Damjan Rudez', 'Greg Smith',
       'Karl-Anthony Towns', 'Andrew Wiggins', 'Steven Adams',
       'Nick Collison', 'Kevin Durant', 'Randy Foye', 'Josh Huestis',
       'Serge Ibaka', 'Enes Kanter', 'Mitch McGary', 'Nazr Mohammed',
       'Anthony Morrow', 'Cameron Payne', 'Andre Roberson',
       'Kyle Singler', 'Dion Waiters', 'Russell Westbrook',
       'Cliff Alexander', 'Al-Farouq Aminu', 'Pat Connaughton',
       'Allen Crabbe', 'Ed Davis', 'Maurice Harkless', 'Gerald Henderson',
       'Chris Kaman', 'Meyers Leonard', 'Damian Lillard', 'C.J. McCollum',
       'Luis Montero', 'Mason Plumlee', 'Brian Roberts', 'Noah Vonleh',
       'Trevor Booker', 'Trey Burke', 'Alec Burks', 'Dante Exum',
       'Derrick Favors', 'Rudy Gobert', 'Gordon Hayward', 'Rodney Hood',
       'Joe Ingles', 'Chris Johnson', 'Trey Lyles', 'Shelvin Mack',
       'Raul Neto', 'Tibor Pleiss', 'Jeff Withey'], dtype=object)

In [60]:
df_nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,06-02,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,06-06,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,06-05,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,06-05,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,06-10,231,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,20,06-10,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26,06-03,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24,06-01,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21,C,26,07-03,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24,C,26,7-0,231,Kansas,947276.0

In [61]:
df_nba[df_nba["Team"] == "Boston Celtics"]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,06-02,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,06-06,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,06-05,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,06-05,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,06-10,231,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90,PF,29,06-09,240,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55,PF,21,06-08,235,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41,C,25,7-0,238,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12,PG,22,06-02,190,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36,PG,22,06-04,220,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7,C,24,06-09,260,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4,PG,27,05-09,185,Washington,6912869.0
12,Evan Turner,Boston Celtics,11,SG,27,06-07,220,Ohio State,3425510.0
13,James Young,Boston Celtics,13,SG,20,06-06,215,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44,C,26,7-0,253,North Carolina,2616975.0

In [62]:
df_nba[df_nba["Name"] == "Avery Bradley"]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,06-02,180,Texas,7730337.0

In [63]:
df_nba[df_nba["College"] == "Kentucky"]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
13,James Young,Boston Celtics,13,SG,20,06-06,215,Kentucky,1749840.0
55,Nerlens Noel,Philadelphia 76ers,4,PF,22,06-11,228,Kentucky,3457800.0
69,Patrick Patterson,Toronto Raptors,54,PF,27,06-09,235,Kentucky,6268675.0
115,Julius Randle,Los Angeles Lakers,30,PF,21,06-09,250,Kentucky,3132240.0
121,Eric Bledsoe,Phoenix Suns,2,PG,26,06-01,190,Kentucky,13500000.0
122,Devin Booker,Phoenix Suns,1,SG,19,06-06,206,Kentucky,2127840.0
125,Archie Goodwin,Phoenix Suns,20,SG,21,06-05,200,Kentucky,1160160.0
127,Brandon Knight,Phoenix Suns,3,PG,24,06-03,189,Kentucky,13500000.0
141,Willie Cauley-Stein,Sacramento Kings,0,C,22,7-0,240,Kentucky,3398280.0
143,DeMarcus Cousins,Sacramento Kings,15,C,25,06-11,270,Kentucky,15851950.0
150,Rajon Rondo,Sacramento Kings,9,PG,30,06-01,186,Kentucky,9500000.0
193,Jodie Meeks,Detroit Pistons,20,SG,28,06-04,210,Kentucky,6270000.0
252,Terrence Jones,Houston Rockets,6,PF,24,06-09,252,Kentucky,2489530.0
281,Anthony Davis,New Orleans Pelicans,23,PF,23,06-10,253,Kentucky,7070730.0
328,Aaron Harrison,Charlotte Hornets,9,SG,21,06-06,210,Kentucky,525093.0
332,Michael Kidd-Gilchrist,Charlotte Hornets,14,SF,22,06-07,232,Kentucky,6331404.0
382,John Wall,Washington Wizards,2,PG,25,06-04,195,Kentucky,15851950.0
406,Tayshaun Prince,Minnesota Timberwolves,12,SF,36,06-09,212,Kentucky,947276.0
410,Karl-Anthony Towns,Minnesota Timberwolves,32,C,20,7-0,244,Kentucky,5703600.0
418,Enes Kanter,Oklahoma City Thunder,11,C,24,06-11,245,Kentucky,16407500.0
420,Nazr Mohammed,Oklahoma City Thunder,13,C,38,06-10,250,Kentucky,222888.0
452,Trey Lyles,Utah Jazz,41,PF,20,06-10,234,Kentucky,2239800.0

In [64]:
temp_df = df_nba.copy()
temp_df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,06-02,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,06-06,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,06-05,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,06-05,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,06-10,231,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,20,06-10,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26,06-03,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24,06-01,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21,C,26,07-03,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24,C,26,7-0,231,Kansas,947276.0

In [65]:
temp_df.isnull().sum()

Name         0
Team         0
Number       0
Position     0
Age          0
Height       0
Weight       0
College     84
Salary      11
dtype: int64

In [66]:
salary_mean = temp_df["Salary"].mean()

In [67]:
temp_df["Salary"].median()

2839073.0

In [68]:
salary_mean

4842684.105381166

In [69]:
temp_df["Salary"].fillna(value = temp_df["Salary"].median())

0      7730337.0
1      6796117.0
2      2839073.0
3      1148640.0
4      5000000.0
         ...
452    2239800.0
453    2433333.0
454     900000.0
455    2900000.0
456     947276.0
Name: Salary, Length: 457, dtype: float64

# **groupby**

In [70]:
df_nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,06-02,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,06-06,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,06-05,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,06-05,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,06-10,231,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,20,06-10,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26,06-03,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24,06-01,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21,C,26,07-03,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24,C,26,7-0,231,Kansas,947276.0

In [71]:
df_nba.groupby("College")["Age"].min()

College
Alabama             25
Arizona             20
Arizona State       26
Arkansas            21
Baylor              25
                    ..
Western Michigan    25
Wichita State       25
Wisconsin           22
Wyoming             23
Xavier              35
Name: Age, Length: 118, dtype: int64

In [74]:
df_nba.isnull().sum()

Name         0
Team         0
Number       0
Position     0
Age          0
Height       0
Weight       0
College     84
Salary      11
dtype: int64

In [75]:
df_nba["Salary"].fillna(value = salary_mean, inplace = True)

<ipython-input-75-656d9cfaa9e4>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_nba["Salary"].fillna(value = salary_mean, inplace = True)

In [78]:
df_nba.isnull().sum()

Name         0
Team         0
Number       0
Position     0
Age          0
Height       0
Weight       0
College     84
Salary       0
dtype: int64

In [79]:
df_nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,06-02,180,Texas,7.730337e+06
1,Jae Crowder,Boston Celtics,99,SF,25,06-06,235,Marquette,6.796117e+06
2,John Holland,Boston Celtics,30,SG,27,06-05,205,Boston University,4.842684e+06
3,R.J. Hunter,Boston Celtics,28,SG,22,06-05,185,Georgia State,1.148640e+06
4,Jonas Jerebko,Boston Celtics,8,PF,29,06-10,231,NaN,5.000000e+06
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,20,06-10,234,Kentucky,2.239800e+06
453,Shelvin Mack,Utah Jazz,8,PG,26,06-03,203,Butler,2.433333e+06
454,Raul Neto,Utah Jazz,25,PG,24,06-01,179,NaN,9.000000e+05
455,Tibor Pleiss,Utah Jazz,21,C,26,07-03,256,NaN,2.900000e+06
456,Jeff Withey,Utah Jazz,24,C,26,7-0,231,Kansas,9.472760e+05

In [89]:
df_nba["College"].fillna(value ="Sityog",inplace = True)

In [90]:
df_nba.isnull().sum()

Name        0
Team        0
Number      0
Position    0
Age         0
Height      0
Weight      0
College     0
Salary      0
dtype: int64

In [76]:
temp_df["Salary"].fillna(value = temp_df["Salary"].median())

0      7730337.0
1      6796117.0
2      2839073.0
3      1148640.0
4      5000000.0
         ...
452    2239800.0
453    2433333.0
454     900000.0
455    2900000.0
456     947276.0
Name: Salary, Length: 457, dtype: float64

In [77]:
salary_mean

4842684.105381166

In [91]:
df_nba.groupby("College")["Age"].min()

College
Alabama             25
Arizona             20
Arizona State       26
Arkansas            21
Baylor              25
                    ..
Western Michigan    25
Wichita State       25
Wisconsin           22
Wyoming             23
Xavier              35
Name: Age, Length: 119, dtype: int64

In [95]:
df_nba.groupby("College")[["Name","Age"]].min()

                                Name  Age
College
Alabama                   Alonzo Gee   25
Arizona                 Aaron Gordon   20
Arizona State           James Harden   26
Arkansas                Bobby Portis   21
Baylor                    Quincy Acy   25
...                              ...  ...
Western Michigan  Shayne Whittington   25
Wichita State       Cleanthony Early   25
Wisconsin               Devin Harris   22
Wyoming              Larry Nance Jr.   23
Xavier                    David West   35

[119 rows x 2 columns]

In [96]:
df_nba.groupby("College")[["Name","Age"]].max()

                                Name  Age
College
Alabama                  Mo Williams   33
Arizona               T.J. McConnell   38
Arizona State             Jeff Ayres   29
Arkansas            Patrick Beverley   34
Baylor                    Quincy Acy   25
...                              ...  ...
Western Michigan  Shayne Whittington   25
Wichita State       Cleanthony Early   25
Wisconsin                 Sam Dekker   33
Wyoming              Larry Nance Jr.   23
Xavier                    David West   35

[119 rows x 2 columns]

In [97]:
df_nba.groupby("Team")["Salary"].max()

Team
Atlanta Hawks             18671659.0
Boston Celtics            12000000.0
Brooklyn Nets             19689000.0
Charlotte Hornets         13500000.0
Chicago Bulls             20093064.0
Cleveland Cavaliers       22970500.0
Dallas Mavericks          16407500.0
Denver Nuggets            14000000.0
Detroit Pistons           16000000.0
Golden State Warriors     15501000.0
Houston Rockets           22359364.0
Indiana Pacers            17120106.0
Los Angeles Clippers      21468695.0
Los Angeles Lakers        25000000.0
Memphis Grizzlies         19688000.0
Miami Heat                22192730.0
Milwaukee Bucks           16407500.0
Minnesota Timberwolves    12700000.0
New Orleans Pelicans      15514031.0
New York Knicks           22875000.0
Oklahoma City Thunder     20158622.0
Orlando Magic             11250000.0
Philadelphia 76ers         6500000.0
Phoenix Suns              13500000.0
Portland Trail Blazers     8042895.0
Sacramento Kings          15851950.0
San Antonio Spurs         19689000.0
Toronto Raptors           13600000.0
Utah Jazz                 15409570.0
Washington Wizards        15851950.0
Name: Salary, dtype: float64